<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <h2>My Orders</h2>
      <hr />
    {{#each orders}}
      <div class="card cart-orders">
          <ul class="list-group">
            {{#each this.items}}
              <li class="list-group-item">
                <span class="badge float-right">€ {{this.price}}</span>
                Qty: {{this.qty}} | {{this.item.title}}
              </li>
            {{/each}}
          </ul>
        <div class="card-footer"><strong>Total: € {{this.cart.totalPrice}}</strong></div>
      </div>
      <br />
    {{/each}}
  </div>
</div>
