<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>My Account</h1>
    <hr />
    <h2>My Orders</h2>
    {{#each orders}}
      <div class="card">
        <div class="card-block">
          <ul class="list-group">
            {{#each this.items}}
              <li class="list-group-item">
                <span class="badge float-right">€ {{this.price}}</span>
                Qty: {{this.qty}} | {{this.item.title}}
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="card-footer"><strong>Total: € {{this.cart.totalPrice}}</strong></div>
      </div>
      <br />
    {{/each}}
  </div>
</div>
