@import url('https://fonts.googleapis.com/css?family=Emilys+Candy');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
  font-family: 'Crimson Text', serif;
  margin-bottom: 50px;
}

.navbar-custom {
  background-color: #70bfba;
}

.brand h1 {
  font-family: 'Emilys Candy', cursive;
  color: #ff004a;
}
.thumbnail {
  margin-top: 20px;
}
.thumbnail img {
  max-height: 150px;
}

.thumbnail .details {
  color: #70bfba;
  text-align: justify;
  font-size: 20px;
}

.thumbnail h3 {
  color: #ff004a;
  font-family: 'Emilys Candy', cursive;
}

.price {
  font-weight: bold;
  font-size: 18px;
  color: #ff004a;
}

.btn-primary {
  background-color: #70bfba;
  border: transparent;
  transition: 0.4s;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #ff004a;
}
