{{#each products }}
  <div class="row">
    {{#each this}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{this.imagePath}}" alt="candy" class="image-responsive">
          <div class="caption">
            <h3>{{this.title}}</h3>
            <p class="details">{{this.description}}</p>
            <div>
              <div class="price float-left">€{{this.price}}</div>
              <p><a href="#" class="btn btn-primary float-right" role="button">Add to Cart</a></p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
