<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://altomontes.com/wp-content/uploads/revslider/sports-hero/ribbon-candy.png" alt="candy 1" class="image-responsive">
      <div class="caption">
        <h3>Roley Poley</h3>
        <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div>
          <div class="price">€10,00</div>
          <p><a href="#" class="btn btn-primary float-right" role="button">Add to Cart</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.dorvaltrading.com/wp-content/uploads/2017/04/strawb-blue-rasp-popping-candy.png" alt="candy 2" class="image-responsive">
      <div class="caption">
        <h3>Heartstones</h3>
        <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div>
          <div class="price">€7,00</div>
          <p><a href="#" class="btn btn-primary float-right" role="button">Add to Cart</a></p>
        </div>      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.sweettoothrockford.com/uploads/1/1/7/5/11753790/8691413_orig.png" alt="candy 3" class="image-responsive">
      <div class="caption">
        <h3>Crystalpops</h3>
        <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div>
          <div class="price">€8,50</div>
          <p><a href="#" class="btn btn-primary float-right" role="button">Add to Cart</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.dorvaltrading.com/wp-content/uploads/2017/04/Quattro-popping-candy.png" alt="candy 4" class="image-responsive">
      <div class="caption">
        <h3>Bitbites</h3>
        <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div>
          <div class="price">€5,00</div>
          <p><a href="#" class="btn btn-primary float-right" role="button">Add to Cart</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.candygurus.com/wp-content/uploads/bitesnic2.png" alt="candy 5" class="image-responsive">
      <div class="caption">
        <h3>Rainbow Bites</h3>
        <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div>
          <div class="price">€2,50</div>
          <p><a href="#" class="btn btn-primary float-right" role="button">Add to Cart</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.pngall.com/wp-content/uploads/2016/07/Sweets-PNG-Pic.png" alt="candy 6" class="image-responsive">
      <div class="caption">
        <h3>Drops</h3>
        <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div>
          <div class="price">€4,50</div>
          <p><a href="#" class="btn btn-primary float-right" role="button">Add to Cart</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
